<h1>Editar alumno</h1>

<%= form_for :alumno do |f| %>
  <div class="row">
    <div class="form-group col-sm-6">
      <%= f.label :rut %>
      <%= f.text_field :rut, :disabled => true, class: 'form-control required rut' %>
    </div>
    <div class="form-group col-sm-6">
      <%= f.label :nombre %>
      <%= f.text_field :nombre, class: 'form-control required' %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-6">
      <%= f.label :carrera_id %>
      <%= f.text_field :carrera_id, class: 'form-control' %>
    </div>
    <div class="form-group col-sm-6">
      <%= f.label "Año de ingreso" %>
      <%= f.text_field :ingreso_ano, class: 'form-control' %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-6">
      <%= f.label "Semestre de ingreso" %>
      <%= f.text_field :ingreso_semestre, class: 'form-control' %>
    </div>
    <div class="form-group col-sm-6">
      <%= f.label :grupo %>
      <%= f.text_field :grupo, class: 'form-control' %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-6">
      <%= f.label :seccion %>
      <%= f.text_field :seccion, class: 'form-control' %>
    </div>
    <div class="form-group col-sm-6">
      <%= f.label :foto %>
      <%= f.file_field :foto, class: 'form-control' %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-12">
      <%= f.submit 'Editar alumno', :class => 'btn btn-success pull-right btn-lg' %>
    </div>
  </div>
<% end %>