<h1>Agregar prueba</h1>

<%= form_for :prueba do |f| %>
  <div class="row">
    <div class="form-group col-sm-6">
      <%= f.label :titulo %>
      <%= f.text_field :titulo, class: 'form-control required' %>
    </div>
    <div class="form-group col-sm-6">
      <%= f.label :fecha %>
      <%= f.datetime_field :fecha, class: 'form-control required chileanDateTime'  %>
    </div>
  </div>
  <div class="row">
     <div class="form-group col-sm-12">
      <%= f.submit "Agregar",:class => 'btn btn-success pull-right btn-lg' %>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  jQuery.validator.addMethod("chileanDateTime", function(value, element) { 
    return Date.parseExact(value, "dd/MM/yyyy HH:mm");
  }, "Este campo debe ser una fecha válida.");

  $("form").validate();
  $('#prueba_fecha').appendDtpicker({
    "locale": "es",
    "minuteInterval": 10,
    "futureOnly": true,
    "closeOnSelected": true
  });
</script>
