<!DOCTYPE html>
<html>
  <head>
   <title>Ingeso</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">Laboratorio INGESO</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="/alumnos" class="dropdown-toggle" data-toggle="dropdown">Alumnos <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/alumnos/">Lista de alumnos</a></li>
                <li><a href="/alumnos/agregar">Agregar alumno</a></li>
                <li><a href="/alumnos/cargar">Cargar alumnos</a></li>
                <li><a href="/alumnos/cargarFotos">Cargar fotos</a></li>
              </ul>
            </li>
            <li><a href="/pruebas">Pruebas</a></li>
            <li><a href="/users">Usuarios</a></li>
          </ul>
          <div class="navbar-right">
            <% if not user_signed_in? %>
              <form class="navbar-form">
                <div class="form-group">
                  <input type="text" placeholder="Email" class="form-control">
                </div>
                <div class="form-group">
                  <input type="password" placeholder="Password" class="form-control">
                </div>
                <button type="submit" class="btn btn-success">Sign in</button>
              </form>
            <% else %>
              <ul class="nav navbar-nav">
                <li><%= link_to "Salir", destroy_user_session_path, :method => :delete %></li>
              </ul>
            <% end> %>
          </div>

        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">
      <%= yield %>
    </div><!-- /.container -->
  </body>
</html>
